# Required
DB_HOST=postgres
DB_PORT=5432
DB_USER=pguser
DB_PASSWORD=secret
DB_NAME=providerdb

# Optional (have defaults)
SYSTEM_PORT=9090
SYSTEM_ACCESS_TOKENS=
SYSTEM_LOG_LEVEL=1        # 0-debug, 1-info, 2-warn, 3-error
MASTER_ADDRESS=UQB3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d0x0
TON_CONFIG_URL=https://ton-blockchain.github.io/global.config.json
BATCH_SIZE=100